<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVM Mon-web</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<%-  include('partials/header', { user: user }) %>
<div class="container">
    <div id="sites" class="row mt-3"></div>
</div>

<div class="modal fade" id="commandModal" tabindex="-1" role="dialog" aria-labelledby="commandModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commandModalLabel">Send Command</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="commandForm">
                    <div class="form-group">
                        <label for="commandType">Command Type</label>
                        <select class="form-control" id="commandType" required>
                            <option value="page">P25 Page</option>
                            <option value="inhibit">Radio Inhibit</option>
                            <option value="uninhibit">Radio Uninhibit</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="channelSelect">Select Channel</label>
                        <select class="form-control" id="channelSelect" required></select>
                    </div>
                    <div class="form-group">
                        <label for="dstId">Destination ID</label>
                        <input type="text" class="form-control" id="dstId" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/viewMode.js"></script>
<script src="/js/sites.js"></script>
</body>
</html>